*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
p{
    font-size: 120px;
    text-align: center;
    color: azure;
    transform: translateY(220%);
}